
dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

resources/ios/**/*
sidekick/app/src/main/assets/public/**/*
sidekick/App/App/public/assets/**/*
sidekick/App/App/public/assets
/build
